<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Album: <%= album.name %></h1>
    <h2> By: <%= album.artist %></h2>
    <h2>Tracks:</h2>
    <ol>
        <% album.tracks.forEach(function(t) { %>
            <li>
                <a href='/albums/<%= album.id %>/<%= t.id %>'><%= t.name %></a>
            </li>
        <% }) %>
    </ol>
</body>
</html>